body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: red;
    color: white;
    text-align: center;
}

#navbar{
    background-color: black;
    color: #ffffff;
}

#navbar ul{
    padding: 0;
    list-style: none;

}
#navbar li{
    display: inline;

}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;

}




#showcase{
    margin-top: 10px;
    border: 5px solid red;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: black;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 30px;
    text-align: left;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
    text-align: center;
}


#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: #333333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}

#bok1{
    border: 1px  white solid;
}